@model List<Test_6modul_firs.Models.Author>

@{
    ViewData["Title"] = "Index";
}

<h1>Authors</h1>

@* <button type="submit" class="btn btn-primary">Создать</button> *@

<a asp-action="Create" class="btn btn-success">Create New</a>


<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Birthday</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var author in Model)
        {
            <tr>
                <td>@author.FullName</td>
                <td>@author.Birthday</td>
                <td>
                    <a asp-action="Update" asp-route-id="@author.AuthorId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@author.AuthorId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@author.AuthorId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>





